<h1>
  New User
</h1>
<% if false %>
  <form action='/users' method="POST" accept-charset="UTF-8">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username" <br></br>
    <label for="email">Email:</label>
    <input type="text" name="user[email]" id="email" <br></br>
    <label for="password">Password:</label>
    <input type="text" name="user[password]" id="password">
    <input type="submit" value="Create" name="commit" id="submit"/>
  </form>
<% end %>

<% if false %>
  <%= form_tag("/users") do  %>
    <%= label_tag "username" %>
    <%= text_field_tag "user[username]"%> <br></br>
    <%= label_tag "email" %>
    <%= email_field_tag "user[email]"%><br></br>
    <%= label_tag "password" %>
    <%= password_field_tag "user[password]"%>
    <%= submit_tag "Create"%>
  <% end  %>
<% end %>

<% if true %>
  <%= form_for @user do |f| %>
    Username: <%= f.text_field :username, placeholder: "example" %><br></br>
    Email: <%= f.email_field :email, placeholder: 'example@example.com' %><br></br>
    Password: <%= f.password_field :password, placeholder: 'secrets' %><br></br>
    <%= f.submit %>
  <% end %>
<% end %>

<% if @user.errors.any? %>
  <div>
    <h2><%= "Errors" %></h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

